/* prettier-ignore */
@supports not selector(p:has(p)) {
	@media (prefers-color-scheme: light) {
		:root {
			--grey: #696969;
			--red: #d91e18;
			--orange: #aa5d00;
			--yellow: #aa5d00;
			--green: #008000;
			--blue: #007faa;
			--purple: #7928a1;
			--bg: #fefefe;
			--fg: #545454;
		}
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--grey: #d4d0ab;
			--red: #ffa07a;
			--orange: #f5ab35;
			--yellow: #ffd700;
			--green: #abe338;
			--blue: #00e0e0;
			--purple: #dcc6e0;
			--bg: #2b2b2b;
			--fg: #f8f8f2;
		}
	}
}

/* prettier-ignore */
@supports selector(p:has(p)) {
	/* a11y-light theme */
	/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
	/* @author: ericwbailey */
	:root:has(#lights:checked) {
		--grey: #696969;
		--red: #d91e18;
		--orange: #aa5d00;
		--yellow: #aa5d00;
		--green: #008000;
		--blue: #007faa;
		--purple: #7928a1;
		--bg: #fefefe;
		--fg: #545454;
	}
	/*!
	  Theme: a11y-dark
	  Author: @ericwbailey
	  Maintainer: @ericwbailey
	  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
	*/
	:root:has(#lights:not(:checked)) {
		--grey: #d4d0ab;
		--red: #ffa07a;
		--orange: #f5ab35;
		--yellow: #ffd700;
		--green: #abe338;
		--blue: #00e0e0;
		--purple: #dcc6e0;
		--bg: #2b2b2b;
		--fg: #f8f8f2;
	}
}

.hljs-comment,
.hljs-quote {
	color: var(--grey);
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: var(--red);
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
	color: var(--orange);
}

/* Yellow */
.hljs-attribute {
	color: var(--yellow);
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: var(--green);
}

/* Blue */
.hljs-title,
.hljs-section {
	color: var(--blue);
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
	color: var(--purple);
}

.hljs {
	display: block;
	overflow-x: auto;
	background: var(--bg);
	color: var(--fg);
	padding: 0.5em;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
	.hljs-addition,
	.hljs-attribute,
	.hljs-built_in,
	.hljs-builtin-name,
	.hljs-bullet,
	.hljs-comment,
	.hljs-link,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-params,
	.hljs-string,
	.hljs-symbol,
	.hljs-type,
	.hljs-quote {
		color: highlight;
	}

	.hljs-keyword,
	.hljs-selector-tag {
		font-weight: bold;
	}
}
