body {
    margin: 5em;
    height: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a, a:visited {
    color: black;
}

blockquote {
    padding-left: 1em;
    border-left: 3px grey solid
}

code {
    /* margin-left: 5em; */
    /* margin-right: 5em; */
    border-radius: 0.25em;
    border: 1px solid rgb(165, 165, 165);
}

picture {
    display: none;
}

li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

tr, th {
    padding: 0.5em;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

/* for tikzjax */

@font-face {
    font-family: cmr10;
    src: url('cmr10.ttf');
}

svg {
    left: 10%;
}

.sidebar-nav {
    top: 0;
    left: 1em;
    padding: 0;
    position: fixed;
    list-style-type: none;
}

.posts-nav_bottom {
    padding-top: 1em
}

.posts-nav_top {
    padding-bottom: 1em
}

.template-body {
    overflow-y: scroll;
    margin-right: 45%;
}

.commit-list {
    display: block;
    text-align: center;
    margin-top: 3em;
    position: relative;
    color: gray;
    font-size: 0.75em;
    font-style: italic;
}