:root {
	--left-margin-width: 5rem;
	--sidebar-left-padding: 1rem;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-1: #000;
		--bg-2: #202020;
		--bg-3: #404040;
		--bg-4: #606060;
		--bg-5: #808080;
		--fg-1: #707070;
		--fg-2: #909090;
		--fg-3: #b0b0b0;
		--fg-4: #d0d0d0;
		--fg-5: #f0f0f0;
		--rgb-factor: 0;
		--svg-filter-factor: 0.9;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--bg-1: #f0f0f0;
		--bg-2: #d0d0d0;
		--bg-3: #b0b0b0;
		--bg-4: #909090;
		--bg-5: #707070;
		--fg-1: #808080;
		--fg-2: #606060;
		--fg-3: #404040;
		--fg-4: #202020;
		--fg-5: #000;
		--rgb-factor: 240;
		--svg-filter-factor: 0.1;
	}
}

html,
body {
	display: block;
	background-color: var(--bg-1);
	color: var(--fg-4);
}

body {
	margin: 5em;
	height: 100%;
	overflow: hidden;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9em;
}

a {
	color: var(--fg-4);
}

a:visited {
	color: var(--fg-2);
}

blockquote {
	padding-left: 1em;
	border-left: 3px var(--fg-3) solid;
}

/* all code blocks */
code {
	font-family: monospace;
	font-size: 1.2em;
	border-radius: 0.25em;
	border: 1px solid var(--fg-3);
	position: relative;
}

/* checkbox toggle */
pre > input {
	display: none;
}

/* toggle styling */
pre > input + label:after {
	cursor: pointer;
}

pre > input:checked + label:after {
	content: "[\25b2] Collapse"; /* up triangle */
}

pre > input:not(:checked) + label:after {
	content: "[\25bc] Expand"; /* down triangle */
}

/* code block styling */
pre > label + code {
	display: block;
	overflow-y: hidden;
}

pre > input:checked + label + code {
	max-height: auto;
}

pre > input:not(:checked) + label + code {
	max-height: 20vh;
}

pre > input:not(:checked) + label + code:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50%;
	max-height: 10vh;
	width: 100%;
	background: linear-gradient(
		rgba(var(--rgb-factor), var(--rgb-factor), var(--rgb-factor), 0),
		rgba(var(--rgb-factor), var(--rgb-factor), var(--rgb-factor), 1) 90%
	);
}

picture {
	display: none;
}

li {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

tr,
th {
	padding: 0.5em;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table,
th,
td {
	border: 1px var(--fg-3) solid;
	border-collapse: collapse;
}

td {
	padding: 0.25em;
}

/* for tikzjax */

@font-face {
	font-family: cmr10;
	src: url("cmr10.ttf");
}

svg {
	left: calc(var(--left-margin-width) + var(--sidebar-left-padding));
	filter: invert(var(--svg-filter-factor));
}

img {
	max-width: 100%;
}

.no-list-style {
	padding: 0;
	list-style-type: none;
}

.sidebar-nav {
	top: 1rem;
	position: fixed;
	left: var(--sidebar-left-padding);
	width: var(--left-margin-width);
}

.posts-nav_bottom {
	padding-top: 1em;
}

.posts-nav_top {
	padding-bottom: 1em;
}

.posts-nav_bottom,
.posts-nav_top {
	display: flex;
	justify-content: space-between;
}

.template-body {
	overflow-y: scroll;
	margin-left: calc(var(--left-margin-width) + var(--sidebar-left-padding));
	max-width: 80ch;
}

.commit-list {
	display: block;
	text-align: center;
	margin-top: 3em;
	position: relative;
}

.de-emphasized {
	color: var(--fg-2);
	font-size: 0.75em;
	font-style: italic;
}

.index-list {
	display: inline-block;
	padding-bottom: 8px;
}

.noscript-warning {
	background: var(--bg-3);
	border: 1px solid var(--fg-2);
	border-left: 5px solid var(--fg-3);
	color: var(--fg-3);
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1rem;
}

/* lights only work with :has support, and even then only with proper support
 * (Firefox is kind of weird since it doesn't recalculate properly)
 * */
:root:has(#lights:checked) {
	/* light */
	--bg-1: #f0f0f0;
	--bg-2: #d0d0d0;
	--bg-3: #b0b0b0;
	--bg-4: #909090;
	--bg-5: #707070;
	--fg-1: #808080;
	--fg-2: #606060;
	--fg-3: #404040;
	--fg-4: #202020;
	--fg-5: #000;
	--rgb-factor: 240;
	--svg-filter-factor: 0.1;
}
:root:has(#lights:not(:checked)) {
	/* dark mode */
	--bg-1: #000;
	--bg-2: #202020;
	--bg-3: #404040;
	--bg-4: #606060;
	--bg-5: #808080;
	--fg-1: #707070;
	--fg-2: #909090;
	--fg-3: #b0b0b0;
	--fg-4: #d0d0d0;
	--fg-5: #f0f0f0;
	--rgb-factor: 0;
	--svg-filter-factor: 0.9;
}
#lights-label {
	display: none;
}
#lights-label:has(> #lights) {
	display: flex;
	user-select: none;
	cursor: pointer;
}
#lights-description {
	display: none;
	background-color: var(--bg-1);
}
#lights-label:hover + #lights-description {
	display: block;
}
